@import "~vcomponents/dist/sass/utilities/all";

$black:        hsl(0, 0%, 4%);
$grey-darker:  hsl(0, 0%, 21%);
$grey:         hsl(0, 0%, 48%);
$grey-lighter: hsl(0, 0%, 86%);
$white:        hsl(0, 0%, 100%);
$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 67%);
$green:        hsl(141, 71%,  48%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(348, 100%, 61%);
$violet:       hsl(280, 100%, 30%);

$primary: $violet;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~vcomponents/dist/sass/utilities/all";
@import "~vcomponents/dist/sass/elements/all";
@import "~vcomponents/dist/sass/components/all";